<footer class="footer">
  <div class="footer__containerSocial">
    <a href="raquelgc8@gmail.com" class="footer--social" target="_blank" title="Email">
      <i class="far fa-envelope footer--icons"></i>
    </a>

    <a
      href="https://www.linkedin.com/in/raquelgarciacaja/"
      class="js-icon-linkedin footer--social"
      target="_blank"
      title="Linkedin"
    >
      <i class="footer--icons fab fa-linkedin-in"></i>
    </a>
    <a
      href="https://github.com/RaquelGarciaCaja"
      class="js-icon-github footer--social"
      target="_blank"
      title="Github"
    >
      <i class="footer--icons fab fa-github-alt"></i>
    </a>
  </div>
  <div class="footer__containerCreate">
    <span class="footer__create"
      >Creado por Raquel García Caja <span class="footer__heart">❤︎</span></span
    >
  </div>
</footer>
