<main class="main">
  <div class="main--quiz">
    <h1 class="main--title">Friends</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/friends.jpg" alt="" class="main--img" />
    </div>
    <a href="./main-friends.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Sons of anarchy</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/sons.jpg" alt="" class="main--img" />
    </div>
    <a href="../main-sons.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Lost</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/lost.jpg" alt="" class="main--img" />
    </div>
    <a href="../main-lost.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Breaking Bad</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/bb.jpg" alt="" class="main--img" />
    </div>
    <a href="../main-bb.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Fringe</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/fringe.jpg" alt="" class="main--img" />
    </div>
    <a href="../main-fringe.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Sex in the city</h1>
    <div class="main--containerImg">
      <img class="main--img" src="../assets/images/ny.jpg" alt="" class="main--img" />
    </div>
    <a href="../main-ny.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
</main>
