<main class="main">
  <div class="main--quiz">
    <h1 class="main--title">Friends</h1>
    <div class="main--containerImg">
      <img class="main--img" src="./assets/images/friends.jpg" alt="friends" title="friends" />
    </div>
    <a href="./main-friends.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Sons of anarchy</h1>
    <div class="main--containerImg">
      <img
        class="main--img"
        src="./assets/images/sons.jpg"
        alt="sons of anarchy"
        title="sons of anarchy"
      />
    </div>
    <a href="./main-sons.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Lost</h1>
    <div class="main--containerImg">
      <img class="main--img" src="./assets/images/lost.jpg" alt="lost" title="lost" />
    </div>
    <a href="./main-lost.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Breaking Bad</h1>
    <div class="main--containerImg">
      <img class="main--img" src="./assets/images/bb.jpg" alt="breaking bad" title="breaking bad" />
    </div>
    <a href="./main-bb.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Fringe</h1>
    <div class="main--containerImg">
      <img class="main--img" src="./assets/images/fringe.jpg" alt="fringe" title="fringe" />
    </div>
    <a href="./main-fringe.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
  <div class="main--quiz">
    <h1 class="main--title">Sex and the city</h1>
    <div class="main--containerImg">
      <img
        class="main--img"
        src="./assets/images/ny.jpg"
        alt="sex and the city"
        title="sex and the city"
      />
    </div>
    <a href="./main-ny.html" title="Aqui para empezar"
      ><button class="main--buttonSart">Empezar</button></a
    >
  </div>
</main>
